/*header top*/

@media all and ( max-width: 991px) {

    /*logo hide*/
    .logo-text {
        display: none;
    }

    /*main menu hide*/
    .main-menu {
        display: none;
    }

    /*information and email area */
    .information {
        width: 100%;
        text-align: center;

    }

    .phone-area {
        width: 40%;
        float: left;
    }

    .email-area {
        width: 58%;
        float: left;
    }

    .email, .phone {
        display: none;
    }

    .hide-email, .hide-phone-area {
        display: inline-block;
    }

    .hide-email span, .hide-email h4, .hide-email a, .hide-phone-area span, .hide-phone-area h4, .hide-phone-area a {
        float: left;
        font-size: 18px;
    }

    .hide-phone-area span, .hide-phone-area h4 {
        margin-right: 8px;
    }

    .hide-phone-area a {
        margin-top: 2px;
        color: white;
    }

    .hide-email span, .hide-email h4 {
        margin-right: 8px;
    }

    .hide-email a {
        color: white;
    }

    /*hide menu area*/
    .hide-main-menu-area {
        display: block;
        /*border: 1px solid red;*/
        margin-top: 8px;
    }

    .hide-logo-text h2 a {
        font-family: 'Gugi', cursive;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 25px;
    }

    .hide-logo-text h2 a span {
        color: #192a56;
    }

    .hide-login {
        margin-top: 14px;
    }

    .hide-login ul {
        text-align: center;
    }

    .hide-login ul li {
        display: inline-block;
    }

    .hide-login ul li a {
        display: block;
        background-color: white;
        color: black;
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid transparent;
        border-radius: 3px;
        transition: .5s;
    }

    .hide-login ul li:hover a {
        background-color: transparent;
        border: 1px solid black;
    }

    .hide-bar-area {
        /*border: 1px solid red;*/
        text-align: right;
        margin-top: 14px;
    }

    .hide-bar-area a i {
        border: 1px solid white;
        padding: 5px 10px;
        font-size: 30px;
        border-radius: 3px;
        color: #192a56;
    }

    /*Hide toggle menu area*/
    .hide-toggle-menu {
        display: none;
        margin-top: 15px;
        /*border: 1px solid red;*/
    }

    .hide-toggle-menu ul:after {
        content: '';
        display: block;
        clear: both;
    }

    .hide-toggle-menu ul li {
        width: 50%;
        float: left;
    }

    .hide-toggle-menu ul li a {
        display: block;
        padding: 7px 0px 7px 7px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 3px;
        transition: .3s;
        text-align: center;
    }

    .hide-toggle-menu ul li:hover a {
        background-color: #192a56;
        color: white;
    }

    .hide-toggle-menu ul li.active a {
        background-color: #192a56;
        color: white;
    }

    /*testimonial area*/
    .client-testimonial-text-left {
        float: left;
        width: 15%;
    }

    .client-testimonial-text-right {
        float: left;
        width: 85%;
    }

    /*car's area*/
    .car-content {
        text-align: center;
        padding: 10px;
    }

    /*bookin form area*/
    .journey-details-content ul li {
        width: 48%;

    }

    .billing-amount{
        margin-top: 30px;
        margin-left: 5px;
    }




}

@media all and ( max-width: 767px ) {
    .phone-area {
        width: 100%;
        margin-bottom: 10px;
    }

    .email-area {
        width: 100%;
    }

    .footer-text {
        margin-left: 0px;
        margin-top: 10px;
    }

    /*Reservation banner area*/
    .banner {
        width: 75%;
        margin: auto;
    }

    .bannar-content {
        display: none;
    }

    .bannar-content-responsive {
        display: block;
        margin-bottom: 20px;

    }

    .banner-text h1 {
        font-size: 50px;
    }

    .time-input, .date-input {
        width: 85%;
    }

    .date-img, .time-img {
        width: 14%;
    }

    .people-input {
        width: 85%;

    }

    .people-img {
        width: 14%;
        /*border-right: 1px solid rgba(0, 168, 255, .5);*/
    }

    .slug-input {
        width: 85%;
    }

    .slug-img {
        width: 14%;
    }

    /*Our car area*/
    .our_files_sliders .item {
        /*width: 100%;*/
        height: 250px;
        /*border: 1px solid red;*/

    }

    /*Quote area*/
    .why-boston-car-area {
        border-left: 1px solid transparent;
    }

    /*testimonial area*/
    .client-testimonial-text-left {
        float: left;
        width: 8%;
    }

    .client-testimonial-text-right {
        float: left;
        width: 92%;
    }

    /*Car's area*/
    .cars-body-area {
        width: 85%;
        margin: auto;
    }

    .cars-border {
        margin-bottom: 30px;
    }

    /*Contact us*/
    .contact-us-area {
        width: 85%;
        margin: auto;
    }

    .blog-content {
        width: 85%;
        margin: auto;
    }



}

@media all and ( max-width: 654px ) {
    .hide-logo-text h2 a {
        font-size: 22px;
    }

    .hide-login ul li a {
        padding: 8px 10px;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .hide-bar-area a i {
        padding: 5px 10px;
        font-size: 25px;
    }

    /*reservation and banner area*/
    .banner {
        width: 90%;
        margin: auto;
    }

    /*Banner text*/
    .banner-text h1 {
        font-size: 40px;
    }

    /*testimonial area*/
    .client-testimonial-text-left {
        float: left;
        width: 10%;
    }

    .client-testimonial-text-right {
        float: left;
        width: 90%;
    }
    /*Billing auount ul li*/
    .billing-amount > div:nth-child(2) ul li{
        padding-left: 30px;
    }




}

@media all and ( max-width: 476px ) {

    .hide-email span, .hide-email h4, .hide-email a, .hide-phone-area span, .hide-phone-area h4, .hide-phone-area a {
        font-size: 16px;
    }

    .hide-phone-area span, .hide-phone-area h4 {
        margin-right: 5px;
    }

    .hide-email span, .hide-email h4 {
        margin-right: 1px;
    }

    .hide-login ul li:nth-child(2) {
        display: none;
    }

    .hide-main-menu-area .hide-logo-resize {
        /*border: 1px solid red;*/
        width: 50%;
    }

    .hide-main-menu-area .hide-sign-ups {
        /*border: 1px solid red;*/
        width: 30%;
    }

    /*reservation and banner area*/
    .banner {
        width: 92%;
        margin: auto;
    }

    /*Our car area*/
    .our_files_sliders .item {
        /*width: 100%;*/
        height: 150px;
        /*border: 1px solid blue;*/

    }

    /*testimonial area*/
    .client-testimonial-text-left {
        float: left;
        width: 12%;
    }

    .client-testimonial-text-right {
        float: left;
        width: 78%;
    }
    /*bookin form area*/
    .journey-details-content ul li {
        width: 100%;

    }

    .billing-information > div:nth-child(2){
        width: 90%;

    }

}

@media all and ( max-width: 376px) {

    .hide-bar-area a i {
        padding: 5px 8px;
        font-size: 22px;
    }

    .hide-logo-text h2 a {
        font-size: 20px;
    }

    /*Banner text*/
    .banner-text h1 {
        font-size: 30px;
    }

    .banner-text h2 {
        font-size: 20px;
    }

}

@media all and ( max-width: 348px ) {

    .hide-main-menu-area .hide-logo-resize {
        /*border: 1px solid red;*/
        width: 53%;
    }

    .hide-main-menu-area .hide-sign-ups {
        /*border: 1px solid red;*/
        width: 25%;
    }

}

@media all and ( max-width: 328px ) {

    .hide-main-menu-area .hide-logo-resize {
        /*border: 1px solid red;*/
        width: 55%;
    }

    .hide-main-menu-area .hide-sign-ups {
        /*border: 1px solid red;*/
        width: 25%;
    }

    /*reservation and banner area*/
    .banner {
        width: 98%;
        margin: auto;
    }

}

@media all and ( max-width: 320px) {

    footer > p {
        word-spacing: 1px;

    }

}












