
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {

    content: '';
    content: none;

}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------GLOBAL------*/
html {
    width: 100%;
    height: 100%;
}

/*==Main css start===*/
body {
    font-family: 'IBM Plex Mono', monospace;
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Acme', sans-serif;*/
}

header {
    background-color: #00a8ff;
    color: black;
    overflow: hidden;
    padding: 6px 0px 8px 0px;
}

.logo-text h2 a {
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.logo-text h2 a span {
    color: #192a56;
}

.information {
    padding: 6px 0px 0px 0px;
}

.earphone span, .envelope span {
    font-size: 30px;
    color: #192a56;
    margin-top: 5px;
    float: right;
    margin-right: -16px;
}

.number h4, .email h4 {
    color: rgba(0, 0, 0, .8);
    font-size: 16px;
    margin-bottom: 5px;
}

.number a, .email a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: .8s;
}

.email-address a {
    text-align: right;
    display: block;

}

.number a:hover, .email-address a:hover {
    color: #dcdde1;
}

/*main menu area*/

.main-menu ul {
    text-align: left;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li a {
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    /*font-weight: bold;*/
    transition: .8s;
}

.main-menu ul li:hover a {
    color: black;
}

.main-menu ul li.active a {
    color: black;
}

.main-menu-left {
    /*border: 1px solid white;*/
}

.main-menu-left ul {
    margin-left: -12px;
    margin-top: 10px;
}

.main-menu-right {
    /*border: 1px solid white;*/
}

.main-menu-right ul {
    text-align: right;
    /*margin-right: -15px;*/
}

.main-menu-right ul li a {
    display: block;
    background-color: white;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: .5s;
}

.main-menu-right ul li:hover a {
    background-color: transparent;
    border: 1px solid black;
}

/*Banner area*/

.banner-area {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*height: 500px;*/
    width: 100%;
    /*height: 200px;*/
    position: relative;

}

/*Shado background color*/
.shado-bgc {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 168, 255, .1);
}

.banner {
    /*background-color: black;*/
    color: white;
    margin: 30px 0px;

}

.reservation-area {
    padding: 10px 0px;

}

.reservation-content {
    /*border: 1px solid silver;*/

}

.reservation {
    padding: 20px 0px 10px 0px;
    background-color: rgba(0, 168, 255, .9);
}

.reservation h4 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;

}

.quote-top:after {
    content: '';
    display: block;
    clear: both;
}

.quote-top {
    margin-bottom: 10px;
    width: 100%;

}

.quote-top .quote-top-content {
    float: left;
    width: 33%;
    /*border: 1px solid red;*/
    display: inline-block;
    text-align: center;
}

.quote-top label span span {
    font-size: 14px;
}

.quote-top label span img {
    width: 30px;
    height: 30px;
    display: block;
    opacity: 0.3;
    margin: 6px auto;
    transition: .9s;
}

.quote-top label:hover span img {
    opacity: 1;
}

.quote-top label input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.quote-top input[checked='checked'] label span img {
    border: 1px solid black;
}

/*Main Quote*/
.quote-main {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: white;
    color: black;

}

.quote-main div[class*="col-"] {
    padding: 0px;
}

.quote-main-content:after {
    content: '';
    display: block;
    clear: both;
}

.quote-main-content {
    border-bottom: 1px solid rgba(0, 168, 255, .5);
    border-left: 1px solid rgba(0, 168, 255, .5);
}

.quote-main-content label {
    padding-left: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}

.quote-main-content-input {
    float: left;
    width: 85%;
    /*border-bottom: 1px solid green;*/
}

.quote-main-content-input input {
    border: 1px solid transparent;
}

.quote-main-content-input input:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    border-left: 1px solid transparent;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.quote-main-content-img {
    float: left;
    width: 14%;
}

.quote-main-content-img img {
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;

}

.time-input, .date-input {
    width: 70%;
}

.date-img, .time-img {
    width: 28%;
}

.date-img {
    /*border-right: 1px solid rgba(0, 168, 255, .5);*/
}

.people-input {
    width: 75%;

}

.people-img {
    width: 25%;
    /*border-right: 1px solid rgba(0, 168, 255, .5);*/
}

.slug-input {
    width: 70%;
}

.slug-img {
    width: 29%;
}

.people-input select, .slug-input select {
    width: 100%;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 5px 0px 5px 10px;
}

.add-infant-button {
    border-bottom: 1px solid transparent;

}

.add-infant-button a {
    display: block;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px 0px;
}

.add-infant-button a:active {
    text-decoration: none;
    color: black;
}

.regular-seat {
    border-top: 1px solid rgba(0, 168, 255, .5);
    margin-top: -1px;

}

.reservation form > input {
    width: 95%;
    text-align: center;
    display: block;
    margin: 10px auto;
    border: 1px solid transparent;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #0f0f0f;
    transition: .5s;
    border-radius: 3px;
}

.reservation form > input:hover {
    border: 1px solid black;
    background-color: rgba(0, 168, 255, .5);
}

.bannar-content {
    padding: 80px 0px;
    /*border: 1px solid black;*/

}

.banner-text {
    font-family: 'Acme', sans-serif;
}

.banner-text h1 {
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    /*font-family: 'Anton', sans-serif;*/

}

.banner-text h1 span {
    color: #00a8ff;
    text-transform: uppercase;
    display: block;

}

.banner-text h2 {
    text-align: center;
}

/*our files area*/
.our_files_area {
    /*border: 1px solid red;*/
    padding: 40px 0px;
    /*background-color: #9A9A9A;*/
    background-color: rgba(0, 0, 0, .1);
}

.our_files_content {
    text-align: center;
    margin-bottom: 20px;
}

.our_files_content h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.our_files_content h3 span {
    color: #00a8ff;
    font-weight: bold;
}

.our_files_content p {
    margin-bottom: 10px;
}

.our_files_sliders .carousel {
    /*background-color: rgba(0,0,0,.5);*/
}

.our_files_sliders .carousel-control:focus, .carousel-control:hover {
    background-color: transparent;
}

.our_files_sliders .item {
    /*width: 100%;*/
    height: 450px;

}

.our_files_sliders .item img {
    /*width: 1200px;*/
    height: 100%;
    /*border: 1px solid red;*/
    display: block;
    margin: auto;

}

.our_files_sliders .item .carousel-caption h3 {
    color: #00a8ff;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    margin-bottom: -16px;

}

.carousel-control {
    opacity: 0;
}

.our_files_sliders .reservation-button {
    width: 100%;
}

.our_files_sliders .reservation-button a {
    width: 150px;
    background-color: #00a8ff;
    color: white;
    text-align: center;
    margin: auto;
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .5s;
    border: 1px solid transparent;
    font-weight: bold;
}

.our_files_sliders .reservation-button a:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 168, 255, .5);
    color: rgba(0, 168, 255, .8);
}

/*Testimonial area*/
.testimonial-area {
    padding: 30px 0px;
}

.client-testimonial {
    margin-bottom: 10px;
}

.client-testimonial h3 {
    margin-bottom: 20px;
}

.client-testimonial-text:after {
    content: '';
    display: inline-block;
    clear: both;

}

.client-testimonial-text-left {
    float: left;
    width: 10%;
}

.client-testimonial-text-left i {
    font-size: 40px;
    color: #00a8ff;
    margin-top: -10px;

}

.client-testimonial-text-right {
    float: left;
    width: 90%;
}

.client-testimonial-text-right p {
    margin-bottom: 10px;
}

.why-boston-car-area {
    border-left: 1px solid rgba(0, 168, 255, .5);
}

/*Need our time*/
.need_on_time_area {
    padding: 30px 0px;
    background-color: #ced6e0;
    text-align: center;
    /*color: white;*/
}

.need_on_time_area h3 {
    margin-bottom: 8px;
}

.need_on_time_area h4 {
    margin-bottom: 10px;
}

.need_on_time_area a {
    width: 150px;
    background-color: #00a8ff;
    color: white;
    text-align: center;
    margin: auto;
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .5s;
    border: 1px solid transparent;
    font-weight: bold;

}

.need_on_time_area a:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 168, 255, .5);
    color: rgba(0, 168, 255, .8);

}

/*Footer area*/
footer {
    background-color: #00a8ff;
    padding: 30px 0px 10px 0px;
    color: white;
}

footer h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer ul li a {
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 5px;
}

footer ul li a:hover {
    color: white;
}

.footer-contacts label, .footer-contacts a {
    display: block;
    margin-bottom: 5px;
}

footer > p {
    text-align: center;
    margin-top: 10px;
    color: white;
}

footer .informations .card li {
    display: inline-block;
}

footer .informations .card li i {
    font-size: 45px;
    /*padding: 10px;*/
    color: black;
}

footer .informations ul + h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.information-text, .footer-text {
    /*border: 1px solid blue;*/
    margin-left: 40px;

}

/*Reservation page*/
.reservation-description-area {
    padding: 30px 0px;
}

.reservation-some-description > div {
    margin-bottom: 20px;

}

.reservation-some-title h2 {
    line-height: 35px;
    word-spacing: -10px;
    text-transform: uppercase;
}

.reservation-some-title h2:nth-child(1) {
    color: #00a8ff;
    line-height: 30px;
}

.reservation-some-body p:nth-child(1) {
    margin-bottom: 5px;
}

.reservation-some-body {
    /*border: 1px solid red;*/

}

.process_reservation h3 {
    margin-bottom: 6px;
}

.process_reservation h3 span {
    color: #00a8ff;
}

.process_reservation h4 {
    margin-bottom: 4px;
    border-bottom: 2px solid #00a8ff;
    display: inline-block;
    padding-bottom: 3px;
}

.process_reservation p {
    margin-bottom: 8px;
}

.why-boston-car h3 {
    margin-bottom: 10px;
}

.why-boston-car ul {
    margin-left: 15px;
}

.why-boston-car ul li:before {
    content: '\25BA';
    color: #00a8ff;
    font-size: 20px;
    margin: 10px;

}

.why-boston-car ul li {
    margin-bottom: 8px;
    /*list-style: square;*/
}

/*car's page section */

.car-headers-area {
    padding: 30px 0px;
    text-align: center;
}

.car-headers h1 {
    margin-bottom: 10px;
    word-spacing: -10px;

}

.car-headers p {
    font-size: 18px;
}

.car-headers p span {
    color: #2aabd2;
    font-weight: bold;
}

.cars-body-area {
    padding-top: 10px;
    padding-bottom: 30px;
}

.cars-border {
    border: 1px solid rgba(0, 168, 255, .5);
    padding: 15px 0px;
    transition: .5s;
    margin-bottom: 20px;
}

.cars-border:hover {
    transform: scale(1.06, 1.06);
    box-shadow: 4px 4px 15px 0 rgba(0, 168, 255, .4);
    transition: .3s ease-in-out;
}

.cars-border:hover .car-content ul li {
    color: rgba(0, 168, 255, 1);
    transition: .3s ease-in-out;
}

.car-img {
    padding: 10px;
}

.car-content h3 {
    word-spacing: -8px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(0, 168, 255, .4);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.car-content ul {
    margin-bottom: 8px;
}

.car-content ul li {
    transition: .3s ease-in-out;
}

.car-content p {
    line-height: 16px;
    margin-bottom: 10px;
}

.car-content a {
    display: inline-block;
    background-color: rgba(0, 168, 255, .4);
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    transition: .5s;
    border: 1px solid transparent;
    text-align: center;
}

.car-content a:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 168, 255, .4);
    color: #2aabd2;
}

.contact-us-area {
    padding: 30px 0px;
}

.contact-us > h1 {
    margin-bottom: 10px;
}

.contact-us-text p {
    margin-bottom: 10px;
    line-height: 15px;
}

.contact-us-input-form {
    margin-top: 20px;
}

.contact-us-input-form form .form-group input {
    width: 100%;
    padding: 10px 0px 10px 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    outline: #2aabd2;

}

.contact-us-input-form form .form-group input:focus {
    border: 1px solid #2aabd2;
    box-shadow: 0 1px 1px rgba(0, 168, 255, .0001) inset, 0 0 8px rgba(0, 168, 255, .5);

}

.contact-us-input-form form .form-group textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0px 10px 10px;
}

.contact-us-input-form form .form-group textarea:focus {
    border: 1px solid #2aabd2;
    box-shadow: 0 1px 1px rgba(0, 168, 255, .0001) inset, 0 0 8px rgba(0, 168, 255, .5);
}

.contact-us-input-form form .form-group input[type='submit'] {
    background-color: rgba(0, 168, 255, 1.0);
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 15px 0px;
    color: white;
    transition: .5s;
}

.contact-us-input-form form .form-group input[type='submit']:hover {
    background-color: white;
    color: rgba(0, 168, 255, 1.0);
    border: 1px solid rgba(0, 168, 255, 1.0);;
}

.boston-argent {
    margin-bottom: 15px;
}

.boston-argent h4 {
    margin-bottom: 10px;
    color: rgba(0, 168, 255, .8);
}

.boston-argent p {
    margin-bottom: 8px;
    line-height: 15px;
}

/*About us area*/

.about-us-content h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-us-content p {
    margin-bottom: 10px;
    line-height: 20px;
}

.about-us-content p span {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-us-content a {
    margin-top: 20px;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    transition: .5s;
}

.about-us-content a:hover {
    color: #2aabd2;
}

/*Blog area*/
.blog-area {
    padding: 40px 0px;
}

.blog-header h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog-header h1 span {
    color: #2aabd2;
}

.blog-content {
    /*border: 1px solid red;*/
}

.blog {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 20px;
    border-radius: 3px;
}

.blog-img {
    margin-bottom: 10px;
}

.blog-img img {
    width: 100%;
}

.blog-head, .blog-admin, .blog-description {
    margin-bottom: 10px;
}

.blog-link a {
    color: #2aabd2;
    text-transform: uppercase;
}

.recent-post {
    margin-bottom: 20px;
}

.recent-post h2 {
    margin-bottom: 10px;
}

/*Single page*/
.blog-header-title {
    margin-bottom: 15px;
}

.single-page {
    border: 1px solid transparent;
}

.single-page .blog-description p {
    line-height: 20px;
    margin-bottom: 10px;
}

.car-single h1 + p {
    margin-bottom: 30px;

}

.car-single h1 + p a span {
    margin-right: 10px;
    font-weight: normal;

}

.car-single-quote {
    padding-right: 5px;
}

.car-single-quote p {
    line-height: 20px;
}

.car-single-quote p span {
    font-weight: bold;
}

.car-single-quote h4 {
    margin-bottom: 10px;
}

.car-single-quote h4 span {
    color: #2aabd2;
    font-weight: bold;
}
#slide_toggle{
    margin-top: 10px;
    display: inline-block;
}
#slide_toggle:focus{
    text-decoration: none;
}


/*Booking form*/
#journey {
    border: 1px solid rgba(0, 168, 255, .2);
    padding: 20px 30px;
    margin-bottom: 20px;
    display: none;

}

.journey-details-content ul li {
    /*border: 1px solid red;*/
    width: 30%;
    margin-bottom: 30px;


}

.journey-details-content ul li span {
    width: 15%;
    float: left;

}

.journey-details-content ul li span img {
    width: 30px;
    height: 30px;
    margin-top: 5px;

}

.journey-details-content ul li label, .journey-details-content ul li p {
    float: left !important;
    width: 85%;
    text-align: left;

}

.journey-details-content ul li p {
    font-size: 14px;
    margin-top: 10px;

}
.billing-information-area{
    /*border: 1px solid black;*/
    background-color: rgba(0,0,0,.1);
    padding: 50px 0px;
}
.billing-information-content > p{
    margin-bottom: 10px;
}
.billing-information-left > p{
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 2px solid #2aabd2;
    display: inline-block;
    padding: 0px 0px 3px 0px;

}
.billing-amount ul{
    /*border-bottom: 1px solid red;*/
    width: 100%;
}

.billing-amount ul li{
    border-bottom: 2px solid #2aabd2;
    padding: 0px 0px 5px 0px;
    margin-bottom: 15px;

}
.billing-amount ul li span{
    font-size: 20px;
    font-weight: bold;
}


.billing-amount ul{
    /*border: 1px solid red;*/
    width: 100%;
}
.billing-amout-padding{
    padding: 0px;
}





/*Responsive code*/
.hide-email, .hide-phone-area, .hide-main-menu-area, .bannar-content-responsive, .infant-reguar-booster-hide {
    display: none;
}